[Unit]
Description=lci
After=multi-user.target

[Service]
Type=simple
ExecStart=/home/qing/lci
TTYPath=/dev/tty8
StandardOutput=tty
StandardError=tty
Restart=always
User=root
Group=root

[Install]
WantedBy=defaule.target
