[Unit]
Description=uconsole-4g
After=network.target

[Service]
Type=oneshot
ExecStart=/home/qing/启动4g模块.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
